.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 2rem; */
    background-color: white;
    color: black;
    margin-bottom: 80vh;
    height: 300px;
    gap: 3rem;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_container{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.skills_container > h2{
    border: 1px solid blue;
    border-radius: 10px;
    /* border: none; */
    padding: 5px;
    flex-wrap: wrap;
    
}
.skills_container > h2:hover{
    background-color: rgb(85, 85, 214);
}
.skills_container > h2:hover{
  transform: scale(0.9);

}

@media only screen and (max-width: 960px) {
    .info-container{
        height: 200px;
        width: 100%;
    }

    .info>h1{
        text-align: center;
        font-size: 25px;
        padding: 10px;
    }
}